.idea/codeStyles/
.idea/*.xml
.idea/*.iml
.idea/inspectionProfiles/

/build/
/docs/build/*
/docs/source/_static/*

dist/
eljef_core.egg-info/

!/docs/build/.dontdelete
!/docs/source/_static/.dontdelete
!/.PROJINFO
!/.gitattributes
!/.gitignore
!/.idea/dictionaries/jef.xml
