# Library dependencies
# pip install -r requirements.txt

#### Required for operation ####
colorlog
PyYAML
xmltodict

#### Needed for linting ####
flake8
pylint

#### Needed for testing ####
pytest
pytest-pythonpath # so tests can be run from the separated tests directory

#### Needed for testing coverage ****
pytest-cov
